<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/feecfc9f-18dc-47d3-85ac-d0e29a6a536a/resourceGroups/FacultyAPIv1/providers/Microsoft.ApiManagement/service/FacultyAPIv1/apis/FacultyAPIv1</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/feecfc9f-18dc-47d3-85ac-d0e29a6a536a/resourceGroups/FacultyApiEU/providers/Microsoft.Web/sites/FacultyApi</ResourceId>
    <ResourceGroup>FacultyApiEU</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://facultyapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2f1149ac-81b9-4f48-9eec-00ca358a6e6e</ProjectGuid>
    <PublishUrl>https://facultyapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FacultyApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>